Source: fty-discovery-ng
Maintainer: fty-discovery-ng Developers <eatonproductfeedback@eaton.com>
Build-Depends:
    cmake (>=3.0),
    debhelper (>= 9),
    fty-cmake-dev,
    libfty-utils-dev,
    libfty-common-logging-dev,
    libfty-pack-dev,
    libfty-common-messagebus-dev,
    libfty-common-rest-dev,
    libsnmp-dev,
    libneon27-dev,
    libtntnet-dev,
    libcidr-dev,
    libfty-cmake-rest-dev,
    libfty-security-wallet-dev,
    libfty-common-socket-dev,
    libcxxtools-dev,
    libyaml-cpp-dev,
    libfty-asset-dev,
    uuid-dev
Standards-Version: 1.0.0
Section: devel
Priority: extra

Package: fty-discovery-ng
Architecture: any
Depends:    ${shlibs:Depends},
            ${misc:Depends},
            nut-snmp,
            libfty-common-nut1
Description: fty-discovery-ng service
